<h1>Editing Book</h1>


<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title %>
  <label for="book_body">Body</label>
  <%= f.text_area :body %>
  <div class="actions">
  <%= f.submit 'Update Book' %>
  </div>
  <% end %>
  <%= link_to 'Show', book_path(@book) %>
  |
  <a class="back" href= https://59dacc7264d74121821da8098054237e.vfs.cloud9.us-east-1.amazonaws.com/books >Back</a>
