  <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved
  <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
 <% end %>
  </ul>


<p id="notice"><%= flash[:notice] %></p>

<p><b>Title:</b> <%= @book.title %></p>
<p><b>Body:</b> <%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book) %>
|
<a class="back" href= https://59dacc7264d74121821da8098054237e.vfs.cloud9.us-east-1.amazonaws.com/books >Back</a>